.imagecard{
justify-content: center;
height: 100%;
width: 100%;
margin: 20px;
max-width: 350px;
min-height: 450px;
display: flex;
border: .5px solid #b8b8b8;
}

.upload-image{
display: flex;
min-width: 300px;
min-height: 300px;
margin-top: 20px;
justify-content: center;
border: .5px solid #b8b8b8;
background-size: cover;

}

.image-title{
    margin-top: 5px;
}