.mainnav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    border: 0;
    color: #242424;
    width: 150px;
    max-width: 150px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.mainnav:hover{
    background-color: #CCD5AE
}

.subnav{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 28%;
    gap:50px;
    width: 100%;
    height: px;
}

  
