.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #e9edc9;
}

.logo {
  justify-content: flex-start;
  background-color: #ffffff;
}

.title {
  justify-content: flex-start;
  background-color: #ffffff;
}

.profile {
  justify-content: flex-end;
  background-color: #ffffff;
}

.logout {
  justify-content: flex-end;
  background-color: #ffffff;
}

.insta {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ccd5ae;
  height: 45vh;
}

.instaimages {
  background-color: #ffffff;
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tictok {
  display: flex;
  background-color: #ccd5ae;
  height: 45vh;
}

.tictokimages {
  background-color: #ffffff;
  width: 30vw;
}

.viewmore {
  text-align: center;
  width: 10vw;
  margin: auto;
}

.pageimages {
  justify-content: center;
}

.pagetitle {
  justify-content: center;
  text-align: center;
}

.left {
  display: flex;
}

.right {
  display: flex;
  justify-content: flex-end;
}
.subnav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainnav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.yourboard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Boards {
  width: 30vw;
}

.feed {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url("https://www.worldatlas.com/r/w960-q80/upload/39/f1/6e/shutterstock-231369109.jpg");
}

.addpost {
  display: flex;
  justify-content: center;
  align-items: center;
}
