div {
    border: 1px solid grey;
    margin: 5px;
    padding: 5px;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    background-color: #21302D;
  
  }
  
  .logo{
    justify-content: flex-start;
    background-color: #FFFFFF
  }
  
  .title{
    justify-content: flex-start;
    background-color: #FFFFFF
  }
  
  .profile{
    justify-content: flex-end;
    background-color: #FFFFFF
  }
  
  .logout{
    justify-content: flex-end;
    background-color: #FFFFFF
  }
  
  .insta{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #CCD5AE;
    height: 45vh;
  }
  
  .instaimages {
    background-color: #FFFFFF;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .tictok{
    display: flex;
    background-color: #CCD5AE;
    height: 45vh;
  }
  
  .tictokimages {
    background-color: #FFFFFF;
    width: 30vw;
  }
  
  .viewmore{
    text-align: center;
    width: 10vw;
    margin: auto;
  }
  
  .pageimages{
    justify-content: center;
  
  }
  
  .pagetitle{
    justify-content: center;
    text-align: center;
  }
  
  .left{
    display: flex;
  }
  
  .right{
    display: flex;
    justify-content: flex-end;
    
  }
  .subnav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mainnav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
  }
  
  .yourboard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .Boards {
    width: 30vw;
  }
  
  .feed{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url('https://www.worldatlas.com/r/w960-q80/upload/39/f1/6e/shutterstock-231369109.jpg');
  }