nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.left{
    display: flex;
  }
  
  .right{
    display: flex;
    justify-content: flex-end;
    
  }